body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: 'Jost', sans-serif;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

nav {
    background-color: #000;
    color: #0f0;
    padding: 10px;
    text-align: center;
}

nav h1 {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #0f0;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}


  
#map {
    height: 300px;
    width: 100%;
    border: solid thin #ddd;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px;
}
